# vue-live2d-app/docker-compose.yml
version: '3.8'
services:
  frontend:
    build:
      context: .
    ports:
      - "5173:5173"
    volumes:
      - ./app:/app
      - /app/node_modules
    working_dir: /app
    command: npm run dev -- --host
