:root {
  /* color-scheme: light; ライトモード固定 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff !important;
}

body {
  overflow: hidden;
}

/* アプリ全体 */
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  background-color: #ffffff;
}

.main-content {
  width: 100%;
  height: 100%;
  margin-bottom: 200px; /* 下ナビ分 */
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 100px;
}

/* 見出し */
h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

/* ボタン */
button {
  width: 50%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:active {
  background-color: #e0e0e0;
}

/* 入力 */
input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.card {
  padding: 0;
}
